CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
gmock.pc
gmock_main.pc
googletest-download/
googletest-src/
gtest.pc
gtest_main.pc
unittests
